* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
body {
  background-color: #fae8f3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.icon-color {
  color: #b3b3bc;
}
.text-color {
  color: #3b4551;
}
.text-color-light {
}
.main {
  display: flex;
  height: 80vh;
  width: 80%;
  border-radius: 15px;
  /* box-shadow: 0 0 5px 0px; */
}

.content {
  flex: 10;
}
.custom-navbar {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 9px 15px;
}
.custom-navbar .hamber {
  flex: 1;
  display: flex;
  align-items: center;
}
.custom-navbar .icons {
  display: flex;
  align-items: center;
}
.icons span {
  margin: 0 10px;
}
.icons .avatar img {
  border-radius: 50%;
}
/* side bar */
.sidebar {
  background-color: #ffffff;
  flex: 2;
  border-radius: 10px 0 0 10px;
}
.logo {
  background-image: linear-gradient(to right, #eb4886, #a359b0);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 40px;
  border-radius: 10px 0 0 0;
}
.logo a {
  color: #fff;
}
.links {
  margin-top: 20px;
}
.links ul li {
  padding: 10px 15px;
  font-size: 11px;
}

.links ul li span {
  padding: 0 3px;
  font-size: 11px;
}
.main .content {
  background-color: #f8fafb;
}
